*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --branco:hsl(0, 0%, 100%);
    --cinza-claro: hsl(212, 45%, 89%);
    --azul-cinza: hsl(220, 15%, 55%);
    --azul-escuro:  hsl(218, 44%, 22%);
    --fonte: "Outfit", sans-serif;
}

body{
    background-color: var(--cinza-claro);
    font-family: var(--fonte);
    font-weight: 400;
    min-height: 100vh;
}
.card{
    margin: 15vh auto;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 280px;
    border-radius: 20px;
    padding: 16px 16px 32px 16px;
    background-color: var(--branco);
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.25);
}
.card img{
    width: 100%;
    border-radius: 10px;
}
h2{
    font-size: 18px;
    font-weight: 700;
    color: var(--azul-escuro);
}
p{
    font-size: 15px;
    color:var(--azul-cinza)
}